body{
    background-color: khaki;
    
}

.classe{
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: khaki;
}


.sticky {
    position: fixed;
    z-index: 9999;
  }
  
#carouselExampleIndicators, .form{
    background-image: url("bg.png");
    background-size: 500px;
}  

#avatar1, #avatar2, #avatar3{
    width: 100px;
    height: 100px;
}

#categorias{
    margin-top: 100px;
}

.categorias{
    margin-bottom: 10px;
}

.card-img-top{
    transition: transform .3s;
}

.card-img-top:hover{
    transform: scale(1.2);
}

.testimonials{
    background-image: url('bolo_img7.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    color: white;
}

.form_contato{
    margin-top: 40px;
}

.card-img-top{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.slide1, .slide2, .slide3{
    margin-top: 20px;
}

footer{
    background-color: #bbb36e;
    height: 5vh;
    text-align: center;
    padding-top: 10px;
}

footer a{
    text-decoration: none;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1.8s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }